<!-- Header -->
<header class="columns col-12 col-md-12" id="navNotLoggedIn">
  <!-- logo -->
  <div class="column col-6 col-md-6 logo-container">
    <h1 class="column col-12">Yourtfolio</h1>
  </div>
  <!-- nav -->
  <nav class="column col-1 col-md-1">
    <a href="/login" class="button column col-12">Login</a>
  </nav>
</header>