<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/my-styles-05.css" />
    <title>Your Title Here</title>
  </head>

  <body>

    <!-- Main -->
    <main id="main" class="column col-12 col-md-12">
      <div id="cv">
        <div class="container cv-container">
          <!-- Header/Hero section -->
          <section class="header-section columns col-md-12">
            <div class="photo-container column col-3 col-md-12">
              <img
                src="img/profile-picture-without-bg.png"
                alt="Profile image"
              />
            </div>
            <div class="desc-container column col-6 col-md-12">
              <div class="about-me-container column col-12 col-md-12">
                <div class="name-container column col-12 col-md-12">
                  <div class="names-container">
                    <h1 class="first-name">
                      Klara
                      <br /><span class="last-name">Swiecicka</span>
                    </h1>
                  </div>
                </div>
              </div>
              <div class="about-me-desc columns col-12 col-md-12">
                <p class="about-me column col-12 col-md-12">
                  Hello! I am Klara Swiecicka, a student from Poland on the
                  second year of a Bachelor's in
                  <span class="highlighted-text">New Media Design at Jönköping
                    University</span>
                  in Sweden. My academic is focused on
                  <span class="highlighted-text">graphic design, UX and UI, and
                    front-end development</span>, with back-end elements.
                  Moreover, the program includes knowledge of
                  <span class="highlighted-text">enterprise, management, and
                    marketing,</span>
                  expanding my knowledge beyond design and web development. I'm
                  particularly interested in the development of websites, games,
                  and web applications, creating prototypes, and graphics using
                  Illustrator. Additionally, I enjoy making motion graphics in
                  After Effects and video editing. New media design is a field
                  that I am truly passionate about so in my free time I develop
                  my skills by creating digital stuff and expanding my knowledge
                  in my study field. Occasionally I work in a restaurant.
                  Presently, I am seeking an internship opportunity with a
                  dynamic company, where I can further cultivate my graphic and
                  programming skills, gain commercial experience, and
                  collaborate with clients.
                </p>
              </div>
            </div>
          </section>

          <!-- Main section -->
          <main class="main-section columns col-12 col-md-12">
            <!-- Left column -->
            <div class="left-column column col-4 col-md-12">
              <div class="left-column-container columns">
                <div
                  class="languages-container skills-container columns col-12"
                >
                  <h2 class="column col-3">Languages</h2>
                  <div class="language columns col-oneline col-12">
                    <p class="column col-4">Polish</p>
                    <div class="dots-container columns col-oneline col-8">
                      <span class="dot filled column col-2"></span>
                      <span class="dot filled column col-2"></span>
                      <span class="dot filled column col-2"></span>
                      <span class="dot filled column col-2"></span>
                      <span class="dot filled column col-2"></span>
                    </div>
                  </div>
                  <div class="language columns col-oneline col-12">
                    <p class="column col-4">English</p>
                    <div class="dots-container columns col-oneline col-8">
                      <span class="dot filled column col-2"></span>
                      <span class="dot filled column col-2"></span>
                      <span class="dot filled column col-2"></span>
                      <span class="dot filled column col-2"></span>
                      <span class="dot column col-2"></span>
                    </div>
                  </div>
                  <div class="language columns col-oneline col-12">
                    <p class="column col-4">Swedish</p>
                    <div class="dots-container columns col-oneline col-8">
                      <span class="dot filled column col-2"></span>
                      <span class="dot column col-2"></span>
                      <span class="dot column col-2"></span>
                      <span class="dot column col-2"></span>
                      <span class="dot column col-2"></span>
                    </div>
                  </div>
                </div>
                <div
                  class="tech-skills-container skills-container columns col-12"
                >
                  <h2 class="column col-12">Technical Skills</h2>
                  <p class="column col-12 skill">design</p>
                  <div class="design-skills columns col-12">
                    <div class="columns col-oneline skill-oneline col-12">
                      <div class="columns col-6 skill-container">
                        <img
                          src="img/ps.svg"
                          alt="Photoshop icon"
                          class="column col-12"
                        />
                        <p class="column col-12">Intermediate</p>
                      </div>
                      <div class="columns col-6 skill-container">
                        <img
                          src="img/ai.svg"
                          alt="Illustrator icon"
                          class="column col-12"
                        />
                        <p class="column col-12">Intermediate</p>
                      </div>
                    </div>
                    <div class="columns col-oneline skill-oneline col-12">
                      <div class="columns col-6 skill-container">
                        <img
                          src="img/id.svg"
                          alt="Indesign icon"
                          class="column col-12"
                        />
                        <p class="column col-12">Intermediate</p>
                      </div>
                      <div class="columns col-6 skill-container">
                        <img
                          src="img/icons8-adobe-after-effects.svg"
                          alt="Ae icon"
                          class="column col-12"
                        />
                        <p class="column col-12">Beginner</p>
                      </div>
                    </div>
                    <div class="columns col-oneline skill-oneline col-12">
                      <div class="columns col-6 skill-container">
                        <img
                          src="img/icons8-adobe-premiere-pro.svg"
                          alt="Premiere pro icon"
                          class="column col-12"
                        />
                        <p class="column col-12">Beginner</p>
                      </div>
                      <div class="columns col-6 skill-container">
                        <img
                          src="img/figma.svg"
                          alt="Figma icon"
                          class="column col-12"
                        />
                        <p class="column col-12">Intermediate</p>
                      </div>
                    </div>
                  </div>
                  <p class="column col-12 skill">programming</p>
                  <div class="prog-skills columns col-12">
                    <div class="columns col-oneline skill-oneline col-12">
                      <div class="columns col-6 skill-container">
                        <img
                          class="html-icon column col-12"
                          src="img/html5-fill.svg"
                          alt=""
                        />
                        <p class="column col-12">Intermediate</p>
                      </div>
                      <div class="columns col-6 skill-container">
                        <img
                          class="html-icon column col-12"
                          src="img/css3-fill.svg"
                          alt=""
                        />
                        <p class="column col-12">Intermediate</p>
                      </div>
                    </div>
                    <div class="columns col-oneline skill-oneline col-12">
                      <div class="columns col-6 skill-container">
                        <img
                          class="html-icon column col-12"
                          src="img/javascript-fill.svg"
                          alt=""
                        />
                        <p class="column col-12">Intermediate</p>
                      </div>
                      <div class="columns col-6 skill-container">
                        <img
                          class="html-icon column col-12"
                          src="img/reactjs-line.svg"
                          alt=""
                        />
                        <p class="column col-12">Beginner</p>
                      </div>
                    </div>
                    <div class="columns col-oneline skill-oneline col-12">
                      <div class="columns col-6 skill-container">
                        <img
                          class="html-icon column col-12"
                          src="img/npmjs-fill.svg"
                          alt=""
                        />
                        <p class="column col-12">Beginner</p>
                      </div>
                      <div class="columns col-6 skill-container">
                        <img
                          class="html-icon column col-12"
                          src="img/icons8-nodejs.svg"
                          alt=""
                        />
                        <p class="column col-12">Beginner</p>
                      </div>
                    </div>
                    <div class="columns col-oneline skill-oneline col-12">
                      <div class="columns col-6 skill-container">
                        <img
                          class="html-icon column col-12"
                          src="img/database-2-fill.svg"
                          alt=""
                        />
                        <p class="column col-12 skill-desc">SQLite, databases</p>
                        <p class="column col-12">Beginner</p>
                      </div>
                      <div class="columns col-6 skill-container">
                        <img
                          class="html-icon column col-12"
                          src="img/icons8-express-js.svg"
                          alt=""
                        />
                        <p class="column col-12 skill-desc">express.js</p>
                        <p class="column col-12">Beginner</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="oth-skills skills-container columns col-12">
                  <h2 class="column col-12">Soft Skills</h2>
                  <ul class="column col-12">
                    <li><span>Creativity</span></li>
                    <li><span>Open-mindedness</span></li>
                    <li><span>Adaptability</span></li>
                    <li><span>Self-motivation</span></li>
                    <li><span>Fast learner</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Right column -->
            <div class="right-column column col-7 col-md-12">
              <div class="columns">
                <div class="edu column col-12">
                  <h2>Education</h2>
                  <div class="border-bottom"></div>
                  <ul>
                    <li>
                      <span>2022-present</span>
                      Jönköping University, School of Engineering, New Media
                      Design Program, 180 credits
                    </li>
                    <li>
                      <span>2021-2022</span>
                      VIII Highschool in Gdansk, Humanistic Program
                    </li>
                    <li>
                      <span>2020-2021</span>
                      Highschool of Arts in Gdynia, Photographic Program
                    </li>
                  </ul>
                </div>
                <div class="work-exp column col-12">
                  <h2>Work Experience</h2>
                  <div class="border-bottom"></div>
                  <ul>
                    {{#each works}}
                      <li><span>{{wDate}}</span>
                        {{wTitle}},
                        {{wPlace}},
                        {{wCountry}}</li>
                    {{/each}}
                  </ul>
                </div>
                <div class="oth-exp column col-12">
                  <h2>Other Experience</h2>
                  <div class="border-bottom"></div>
                  <ul>
                    <li>Volunteering and scouting</li>
                    <li>Gdynia Business Week 2019</li>
                    <li>Sailing courses</li>
                    <li>Graphic Agent in JU association - Justice</li>
                  </ul>
                  <div class="border-bottom"></div>
                </div>
              </div>

              <div class="arrow-container-right columns col-12">
                <a href="/projects" class="arrow-container">
                  <span class="column col-11">Go to projects</span>
                  <span class="arrow-img column col-1">&gt;</span>
                </a>
              </div>
            </div>
          </main>
        </div>
      </div>
    </main>

  </body>

</html>