<main id="main" class="column col-12 main-edit-contact">

  <div class="column col-12">
    <h1 class="section-title">Edit contact</h1>
    <div class="section-line columns col-12"></div>
  </div>
  {{#if loggedIn}}
    {{#if isAdmin}}
      <section class="edit-contact-section columns col-12">
        <form action="/contact/edit/{{contact.cId}}" method="post">
          <fieldset class="columns col-12">

            <div class="columns col-6 col-md-12 edit-contact-column">

              <div class="column col-12 input-container">
                <label for="cURL">Contact icon</label>
                <br />
                <input type="text" name="cURL" id="cURL" />
                <br />
              </div>

              <div class="column col-12 input-container">
                <label for="cName">Contact</label>
                <br />
                <input type="text" name="cName" id="cName" />
                <br />
              </div>

            </div>

            <div class="columns col-6 col-md-12 edit-contact-column">

              <div class="column col-12 input-container">
                <label for="cInfo">Contact information</label>
                <br />
                <input type="text" name="cInfo" id="cInfo" />
                <br />
              </div>

              <div class="column col-12 input-container">
                <label for="cLink">Contact link</label>
                <br />
                <input type="text" name="cLink" id="cLink" />
                <br />
              </div>

            </div>
          </fieldset>

          <div class="column col-12">
            <input
              type="submit"
              value="Save changes"
              class="edit-contact-button"
            />

          </div>

        </form>

      </section>
    {{else}}
      <p>Sorry, you must be an administrator to edit a contact!</p>
    {{/if}}
  {{else}}
    <p>
      Sorry, you must be logged in to edit the contact!
      <br />
      Please go to the
      <a href="/login">login</a>
      page.
    </p>
  {{/if}}

</main>