<!-- Main -->
<main id="main" class="column col-12 main-home">
  <section class="home-section columns col-12 col-md-12">
    <div class="pixelcat-container columns col-12 col-md-12">
      <h1 class="column col-12 col-md-12" id="pixelcat">PIXELCAT</h1>
      <p class="column col-12 col-md-12" id="pixelcat-japanese">ピクセル猫</p>
    </div>
  </section>

  <div class="slider column col-12 col-md-12">
    <div class="text-items">
      <p class="text-item">
        <span>&#9733;</span>
        CREATIVE GRAPHIC DESIGN
        <span class="star"> &#9733; </span>
        FRONT-END DEVELOPMENT
        <span class="star"> &#9733; </span>
        UI AND UX DESIGN WITH ATTENTION TO DETAILS
        <span class="star"> &#9733; </span>
      </p>
    </div>

    <div class="text-items">
      <p class="text-item">
        {{! <span class="star">&#9733;</span> }}
        CREATIVE GRAPHIC DESIGN
        <span class="star">&#9733;</span>
        FRONT-END DEVELOPMENT
        <span class="star">&#9733;</span>
        UI AND UX DESIGN WITH ATTENTION TO DETAILS
      </p>
    </div>
  </div>
</main>