<!-- Main -->
<main id="main column col-12">
  <section class="home-section columns col-12">
    <div class="cats-container-top columns col-12">
      <img class="column col-2" src="img/cat2.png" alt="" />
      <img class="column col-2" src="img/cat1.png" alt="" />
    </div>
    <div class="welcome-container coulmn col-12">
      <h1>WELCOME!</h1>
      <h6>to my</h6>
      <h5><span class="amazing-span">&#9829;&#9829;&#9829;</span>
        amazing
        <span class="amazing-span">&#9829;&#9829;&#9829;</span></h5>
      <h4 class="column col-12" id="portfolio-text"><span
        >✨✨✨</span>porrrtfolio<span>✨✨✨</span></h4>
    </div>
    <div class="cats-container-bottom columns col-12">
      <img class="column col-2" src="img/cat3.png" alt="" />
      <img class="column col-2" id="small-cat" src="img/cat4.png" alt="" />
    </div>
  </section>
</main>