<main id="main" class="column col-12 main-new-project">
  <div class="column col-12">
    <h1 class="section-title">New project</h1>
    <div class="section-line columns col-12"></div>
  </div>
  {{#if loggedIn}}
    {{#if isAdmin}}

      <section class="new-project-section columns col-12">

        <form action="/projects/new" method="post">
          <fieldset class="columns col-12">

            <div class="columns col-6 col-md-12 new-project-column">

              <div class="column col-12 input-container">
                <label for="pName">Project name</label>
                <br />
                <input type="text" name="pName" id="pName" />
                <br />
              </div>

              <div class="column col-12 input-container">
                <label for="pOverlayName">Overlay name</label>
                <br />
                <input type="text" name="pOverlayName" id="pOverlayName" />
                <br />
              </div>

              <div class="column col-12 input-container">
                <label for="pDate">Project date</label>
                <br />
                <input type="date" name="pDate" id="pDate" />
                <br />
              </div>

              <div class="column col-12 input-container">
                <label for="pURL">Project photo</label>
                <br />
                <input type="text" name="pURL" id="pURL" />
                <br />
              </div>

              <div class="column col-12 input-container">
                <label for="pAuthor">Project author</label>
                <br />
                <input type="text" name="pAuthor" id="pAuthor" />
                <br />
              </div>

            </div>

            <div class="columns col-6 col-md-12 new-project-column">

              <div class="column col-12 input-container">
                <label for="pDesc">Project description</label>
                <br />
                <textarea
                  name="pDesc"
                  id="pDesc"
                  cols="30"
                  rows="10"
                ></textarea>
                <br />
              </div>

              <div class="column col-12 input-container">
                <label for="pTool">Software/s or language/s used</label>
                <br />
                <input type="text" name="pTool" id="pTool" />
                <br />
              </div>

              <div class="column col-12 input-container">
                <label for="pType">Project type: </label>
                <br />
                <input type="text" name="pType" id="pType" />
                <br />
              </div>

              <div class="column col-12 input-container">
                <label for="pProgramming">Is it programming project?</label>
                <select name="pProgramming" id="pProgramming">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <br />
              </div>

              <div class="column col-12 input-container">
                <label for="pDesign">Is it design project?</label>
                <select name="pDesign" id="pDesign">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <br />

              </div>

            </div>
          </fieldset>

          <div class="column col-12">
            <input
              type="submit"
              value="Add project"
              class="new-project-button"
            />
          </div>

        </form>
      </section>
    {{else}}
      <p>Sorry, you must be an administrator to add a new project!</p>
    {{/if}}
  {{else}}
    <p>
      Sorry, you must be logged in to add a new project!
      <br />
      Please go to the
      <a href="/login">login</a>
      page.
    </p>
  {{/if}}
</main>