<!-- Main -->
<main class="main-start columns col-12" id="main">
  <section class="desc-section column col-8">
    <h1>Unleash Your Creativity and Professionalism with Yourtfolio!</h1>
    <p>
      Elevate your online presence as an artist or web developer by showcasing
      your work with beautifully crafted portfolios. Join Yourtfolio and start
      building your digital masterpiece today.
    </p>
  </section>

  <!-- Carousel section -->
  <section class="carousel-section">
    <div class="carousel column">
      <div class="carousel-slide">
        <img src="/img/cat1.jpeg" alt="" />
        <img src="/img/cat2.jpeg" alt="" />
        <img src="/img/cat3.jpeg" alt="" />
        <img src="/img/cat4.jpeg" alt="" />
        <img src="/img/cat5.jpeg" alt="" />
        <img src="/img/cat6.jpeg" alt="" />
        <img src="/img/cat7.jpeg" alt="" />
      </div>
      <div class="carousel-slide">
        <img src="/img/cat1.jpeg" alt="" />
        <img src="/img/cat2.jpeg" alt="" />
        <img src="/img/cat3.jpeg" alt="" />
        <img src="/img/cat4.jpeg" alt="" />
        <img src="/img/cat5.jpeg" alt="" />
        <img src="/img/cat6.jpeg" alt="" />
        <img src="/img/cat7.jpeg" alt="" />
      </div>
    </div>
  </section>
</main>