@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/akira-expanded");
@font-face {
  font-family: "Hiragino Kakugo StdN W8";
  src:
    url("path-to-your-font/HiraginoKakugoStdN-W8.woff2") format("woff2"),
    url("path-to-your-font/HiraginoKakugoStdN-W8.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino Kakugo StdN W9";
  src:
    url("path-to-your-font/HiraginoKakugoStdN-W9.woff2") format("woff2"),
    url("path-to-your-font/HiraginoKakugoStdN-W9.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.cols,
.columns {
  margin-left: 0;
  margin-right: 0;
}

.pixelcat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#pixelcat {
  margin-right: 5.5vw;
  font-size: 14.5vw;
  font-family: "Akira Expanded", sans-serif;
  color: var(--clr-neon-green);
  text-shadow: rgba(5, 255, 159, 0.9) 0px 0px 7px;
  animation: fadeUp 2s ease-in-out forwards;
}

#pixelcat-japanese {
  font-family: "Hiragino Kakugo StdN W9", sans-serif;
  font-weight: bold;

  font-size: 3vw;
  letter-spacing: 0.5vw;
  -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: var(--clr-neon-green);
  color: transparent;
  margin-top: -13vw;
  animation: fadeUp 4s ease-in-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.main-home {
  padding: 0;
  padding-bottom: 5vh;
}

.home-section {
  padding: 5%;
}

.slider {
  position: relative;
  width: 100%;
  height: 8vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border-bottom: 0.5px solid var(--clr-neon-green);
  border-top: 0.5px solid var(--clr-neon-green);
  white-space: nowrap;
}

.text-items {
  display: inline-block;
  animation: 50s slide infinite linear;
  justify-content: center;
  align-items: center;
  padding: 1vw 0;
}

.text-item,
.star {
  font-family: "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-weight: 100;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  color: var(--clr-neon-green);
  font-size: 4vw;
  letter-spacing: 0.2vw;
  align-items: center;
}

.star {
  font-size: 3vw;
  margin: 0 2vw;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-blue: #2c4bff;
  --clr-purple: #8205ff;
  --clr-light-purple: #cbc3e3;
  --clr-neon-green: #05ff9f;
}

body {
  background: var(--clr-black);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.main-start {
  padding: 0;
  gap: 2rem;
}

main {
  padding: 5%;
  gap: 2rem;
}

.main-projects {
  padding: 5vw 0;
}

h2 {
  font-size: 1rem;
}

header.logged-in,
header {
  justify-content: space-between;
  padding: 2rem;
}

header.logged-in {
  padding-right: 0rem;
}

nav.logged-in {
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
}

nav {
  justify-content: flex-end;
  align-items: center;
}

.logo-container {
  align-items: center;
}

.logo {
  width: 10vw;
}

.button-page,
.button {
  font-family: "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 0.1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}

.s-screen {
  display: none;
  font-size: 2rem;
}

li {
  list-style-type: none;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--clr-white);
  transition: 0.2s;
}

a:hover {
  color: var(--clr-neon-green);
}

.desc-section h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.desc-section p {
  font-weight: 200;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.buttons-pages {
  align-items: center;
  justify-content: flex-end;
}

.buttons-container {
  justify-content: space-between;
  align-items: center;
}

.sign-div {
  justify-content: flex-end;
}

.buttons-container.sign {
  justify-content: flex-end;
}

.pages-container {
  gap: 2rem;
  align-items: center;
}

.main-title-container {
  padding: 0;
  animation: fadeUp 2s ease-in-out forwards;
}

.main-title {
  font-family: "Akira Expanded", sans-serif;
  font-size: 4vw;
  padding: 0 3vw;
}

footer {
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}

footer > * {
  padding: 0.5rem;
}

.body-home {
  position: relative;
}

.body-home::before {
  background-image: url("/img/black-bg-japan-green.png");
  background-size: 30%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.inputs-container {
  gap: 1vw;
}

.inputs-container input {
  margin-bottom: 2vw;
}

.inputs-container label {
  font-family: "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-weight: 100;
}

.form-container h1 {
  margin: 2vw 0;
  padding: 0;
}

.login-form-field {
  border: 0.5px solid white;
  color: white;
  background: black;
  height: 2rem;
}

.login-form-submit {
  border: 1px solid var(--clr-white);
  border-radius: 0rem;
  color: var(--clr-black);
  background: var(--clr-white);
  height: 2rem;
  font-weight: 900;
  transition: 0.2s;
}

.login-form-submit:hover {
  color: var(--clr-white);
  background: transparent;
}

form {
  gap: 2vw;
  justify-content: center;
}

.main-form {
  justify-content: center;
}

.login-form-field.invalid {
  border-color: #fc8383;
}

#login-error-msg-holder {
  display: none;
  color: #fc8383;
  margin-top: -1vh;
}

#login-error-msg-holder.active {
  display: block;
}

.section-line {
  content: "";
  border: 0.5px solid var(--clr-white);
  margin-bottom: 2rem;
}

.programming-section,
.design-section {
  gap: 2rem;
  animation: fadeUp 2s ease-in-out forwards;
}

.programming-container,
.design-container {
  margin-bottom: 2rem;
  gap: 1rem;
  justify-content: center;
}

.section-title {
  font-family: "Helvetica Light", "Helvetica", Arial, sans-serif;
  margin-left: 2rem;
  padding: 0;
}

.thumbnail-image-container {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 0.3rem;
}

.thumbnail-image-container img {
  display: block;
  object-fit: cover;
  padding: 0;
  margin: 0;
  height: 70vh;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: var(--clr-neon-green);
}

.thumbnail-image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-family: "Akira Expanded", sans-serif;
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-thumbnail-text {
  justify-content: space-between;
}

.p-name {
  font-size: 1rem;
  margin-left: 0.7rem;
}

.p-author,
.p-date {
  font-size: 0.5rem;
}

.p-author {
  font-weight: 600;
}

.p-date {
  font-weight: 200;
  margin-left: 0.5rem;
}

.span-container {
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.highlighted-text {
  color: var(--clr-neon-green);
}

.title-container h1 {
  font-family: "Akira Expanded", sans-serif;
  font-size: 5vw;
}

.info-container {
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
  column-gap: 2rem;
  animation: fadeUp 4s ease-in-out forwards;
  margin: 5vw 0;
}

.info-container h3 {
  font-family: "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-weight: 100;
}

.one-data {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 900 !important;
  font-size: 1.5em !important;
  color: var(--clr-neon-green) !important;
}

.projects-main {
  animation: fadeUp 2s ease-in-out forwards;
}

.desc-container h2 {
  font-family: "Akira Expanded", sans-serif;
}

.desc-container p {
  font-family: "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-weight: 100;
}

.project-container-1,
.project-container-2,
.project-container-3 {
  justify-content: space-between;
  padding: 0 5vw;
  align-items: center;
  margin: 5vw 0;
}

.project-container-1 {
  animation:
    fadeUp 2s ease-in-out forwards,
    fade linear;
  animation-timeline: view();
}

.project-container-2,
.project-container-3 {
  animation: fade linear;
  animation-timeline: view();
}

.project-img-container,
.project-links-container {
  position: relative;
  overflow: hidden;
  justify-content: end;
}

.project-container-2 .project-img-container {
  justify-content: start;
}

.link1 {
  font-size: 5vw;
  display: flex;
  justify-content: end;
}

.project-links-container {
  display: flex;
  gap: 2vw;
}

.project-links-container a,
.project-links-container form {
  display: flex;
  justify-content: start;
}

.project-links-container a {
  text-decoration: none;
  position: relative;
  color: var(--clr-white);
  transition: color 0.3s ease;
  font-family: "Akira Expanded", sans-serif;
  font-size: 3.8vw;
}

.project-links-container a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2vw;
  bottom: 0;
  left: 0;
  background-color: var(--clr-neon-green);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.project-links-container a:hover {
  color: var(--clr-neon-green);
}

.project-img-container {
  width: 40vw;
}

.project-img-container .project-img {
  width: 100%;
  display: block;
}

.download-button {
  border: 1px solid var(--clr-neon-green);
  background: var(--clr-black);
  color: var(--clr-neon-green);
  padding: 1vw;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Akira Expanded", sans-serif;
  transition: 0.5s;
}

.download-button:hover {
  background: var(--clr-neon-green);
  color: var(--clr-black);
}

.arrows-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-container-left,
.arrow-container-right {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: transparent;
}

.arrow-container-right {
  justify-content: end;
}

.arrow-container {
  display: flex;
  align-items: center;
}

.arrow-container span {
  font-family: "Akira Expanded", sans-serif;
  font-size: 1vw;
}

.data-container {
  height: 50%;
  gap: 1rem;
}

.data-row-container {
  align-items: center;
}

.border-bottom {
  content: "";
  border: 0.5px solid var(--clr-white);
  height: 0;
}

.main-contact {
  animation: fadeUp 2s ease-in-out forwards;
}

.contact-container,
.users-container {
  align-items: center;
}

.users-container {
  border: 0.5px solid var(--clr-white);
  padding: 1rem;
  justify-content: space-between;
}

.users-small-container {
  gap: 1rem;
}

.contact-container img {
  width: 15%;
}

.contact-container span {
  font-size: 1vw;
}

.contact-container a {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}

.contact-section {
  padding: 4vw;
  justify-content: space-between;
}

.contact-icons {
  margin-left: 4rem;
}

.map {
  width: 100%;
  height: 15rem;
}

.new-contact-container {
  margin-top: 2rem;
}

.new-contact-button {
  text-transform: uppercase;
  font-weight: 800;
  background: var(--clr-white) !important;
  color: var(--clr-black) !important;
  padding: 0.5rem;
}

.icons-container img {
  width: 100%;
}

.trash-icon {
  width: 85% !important;
}

.add-button-container {
  text-align: center;
  margin-top: 2rem;
}

.new-button {
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  background: var(--clr-white) !important;
  color: var(--clr-black) !important;
  padding: 0.5rem;
}

.new-project-button,
.edit-project-button,
.new-contact-button,
.edit-contact-button {
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  background: var(--clr-white) !important;
  color: var(--clr-black) !important;
}

.new-project-section,
.edit-project-section,
.new-contact-section,
.edit-contact-section {
  padding: 2rem 2rem;
  justify-content: space-between;
}
.main-new-project input,
.main-new-project textarea,
.main-edit-project input,
.main-edit-project textarea,
.main-new-contact input,
.main-new-contact textarea,
.main-edit-contact input,
.main-edit-contact textarea {
  border: 0.5px solid var(--clr-white);
  background: none;
  color: var(--clr-white);
  width: 100%;
  padding: 0.5rem;
}

.main-new-project textarea,
.main-edit-project textarea {
  height: 4.5rem;
}

#pDate {
  width: 30%;
}

.main-new-project fieldset,
.main-edit-project fieldset,
.main-new-contact fieldset,
.main-edit-contact fieldset {
  gap: 1rem;
}

.new-project-column,
.edit-project-column,
.new-contact-column,
.edit-contact-column {
  gap: 0.5rem;
}

.input-container label,
.user-container label {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-users {
  margin-top: 1rem;
}

.contact-form {
  display: flex;
  justify-content: start;
}

.contact-form input {
  border: none;
  border-bottom: 1px solid var(--clr-neon-green);
  background: transparent;
  color: var(--clr-neon-green);
  padding: 1vw;
}

.contact-form textarea {
  border: 1px solid var(--clr-neon-green);
  color: var(--clr-neon-green);
  background: transparent;
  padding: 1vw;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(5, 255, 159, 0.5);
}

.contact-form h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: var(--clr-neon-green);
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 0.01vw;
}

.contact-container span {
  font-family: "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
}

#submitContact {
  border: 1px solid var(--clr-neon-green);
  text-transform: uppercase;
  font-weight: 800;
  background-color: var(--clr-neon-green);
  color: var(--clr-black);
  padding: 0.5rem;
  transition: 0.2s;
}

#submitContact:hover {
  border: 1px solid var(--clr-neon-green);
  background-color: var(--clr-black);
  color: var(--clr-neon-green);
}

@media only screen and (max-width: 850px) {
  main {
    min-height: 90vh;
  }
  header.logged-in {
    padding: 1rem;
    padding-right: 2rem;
  }
  .logo-container h1.logged-in {
    font-size: 1.3rem;
  }
  .logo-container {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .logo {
    width: 15vw;
  }
  .s-screen {
    display: block;
  }
  nav.logged-in {
    margin-left: 40vw;
    min-height: 100vh;
    background: var(--clr-black);
  }
  .x-icon {
    padding: 0;
    display: flex;
    align-self: flex-start;
    margin-top: 8vw;
  }

  .fa-x {
    font-size: 5vw;
  }

  nav.logged-in {
    margin-top: -2rem;
    background: var(--clr-black);
    z-index: 2;
    width: 100vw;
    transition: 0.2s ease-in-out;
  }

  nav.closed {
    position: fixed;
    translate: 70vw 0rem;
    transition: 0.2s ease-in-out;
  }
  nav.open {
    position: fixed;
  }
  .buttons-pages {
    gap: 1rem;
  }
  .buttons-container {
    padding-top: 2vw;

    display: flex;
  }

  .button-page,
  .button {
    display: flex;
    max-width: 2vw;
    justify-content: flex-start;
    font-size: 4vw;
  }

  iframe {
    margin-top: 3rem;
  }

  #welcome {
    font-size: 3em;
  }

  #pixelcat {
    font-size: 14vw;
  }

  #pixelcat-japanese {
    font-size: 8vw;
  }

  .main-home {
    min-height: 70vh;
  }

  .pixelcat-container {
    display: flex;
    gap: 5vw;
    margin-top: 20vw;
  }

  .slider {
    height: 15vw;
    margin-top: 15vw;
  }

  .text-item,
  .star {
    font-size: 8.5vw;
  }

  .star {
    font-size: 6vw;
    margin: 0 2vw;
  }

  .main-title {
    font-family: "Akira Expanded", sans-serif;
    font-size: 12vw;
    padding: 0 5vw;
  }

  .section-title {
    font-size: 8vw;
  }

  .text {
    font-size: 7vw;
  }

  .programming-section h1,
  .design-section h1 {
    margin-left: 1vw;
  }

  .programming-section,
  .design-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
  }

  .thumbnail-image-container img {
    width: 100vw;
    height: 50vh;
  }

  .working-process {
    flex-direction: column-reverse;
  }

  .project-section-1 {
    margin-top: 40vw;
    gap: 5vw;
  }

  .project-img-container {
    width: 80vw;
  }

  .project-img-container .project-img {
    width: 100%;
    display: block;
  }

  .project-links-container a {
    font-size: 7vw;
  }

  .arrows-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5vw;
  }

  .arrow-container-left,
  .arrow-container-right {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .arrow-container span {
    font-size: 3vw;
  }

  .contact-section {
    gap: 15vw;
  }

  .contact-container a span {
    font-size: 5vw;
  }

  .contacts {
    gap: 5vw;
  }

  .contact-form h2 {
    font-size: 6vw !important;
  }

  .contact-form {
    gap: 4vh;
  }

  #login-error-msg-holder {
    font-size: 3vw;
    margin-top: -8vw;
  }

  .inputs-container {
    gap: 3vw;
  }

  .inputs-container input {
    margin-bottom: 5vw;
  }

  #password {
    margin-bottom: 10vw;
  }

  .login-form-submit {
    height: 15vw;
    font-size: 7vw;
  }
}
