@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/akira-expanded");
@font-face {
  font-family: "Hiragino Kakugo StdN W8";
  src:
    url("path-to-your-font/HiraginoKakugoStdN-W8.woff2") format("woff2"),
    url("path-to-your-font/HiraginoKakugoStdN-W8.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hiragino Kakugo StdN W9";
  src:
    url("path-to-your-font/HiraginoKakugoStdN-W9.woff2") format("woff2"),
    url("path-to-your-font/HiraginoKakugoStdN-W9.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-black: #050505;
  --clr-white: #ebebeb;
  --clr-purple: #8205ff;

  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-blue: #2c4bff;
  --clr-purple: #8205ff;
  --clr-light-purple: #cbc3e3;
  --clr-neon-green: #05ff9f;
}

body {
  background: var(--clr-black);

  min-height: 100vh;
  color: var(--clr-white);
  font-family: sans-serif;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

.photo-container {
  position: absolute;
  width: 5vw;
  height: auto;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}

.photo-container img {
  width: 35vw;
  position: relative;
  z-index: -10;
  border-radius: 30%;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.line-with-stars-container,
.line-with-stars-container-bottom {
  align-items: center;
  padding: 2rem;
}

.line-with-stars-container-bottom {
  position: absolute;
}

.line-with-stars-container img,
.line-with-stars-container-bottom img {
  width: 10%;
}

.line,
.line-bottom {
  display: flex;
  border-bottom: 1px solid var(--clr-white);
  width: 100%;

  justify-content: center;
  align-items: center;
}

.line-bottom {
  border-top: 1px solid var(--clr-white);
  border-bottom: none;
}

.line p {
  margin-top: -0.7rem;
}

.header-section {
  align-items: center;
  padding-right: 5vw;
}

.main-section {
  z-index: 2;
}

.desc-container {
  width: 70%;
  margin-left: 30vw;
}

.names-container {
  line-height: 4rem;
  z-index: 20;
  font-family: "Akira Expanded", sans-serif;
}

.last-name {
  font-size: 1.5em;
  color: var(--clr-neon-green);
  z-index: -1;
  z-index: 20;
  font-weight: 800;
}

.first-name {
  z-index: 20;
  font-size: 3em;
  font-weight: 700;
}

.contact-section {
  background: var(--clr-white);
  color: var(--clr-black);
  padding: 0.2rem 5rem;
}

.contact-list {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-list li {
  align-items: center;
  z-index: 1;
}

.right-column {
  z-index: 30;
  line-height: 2rem;
  border-left: 1px solid var(--clr-white);
  margin-top: 2rem;
}

.border-bottom {
  content: "";
  border-bottom: 1px solid var(--clr-white);
  margin-bottom: 2rem;
  width: 120%;
  margin-left: -15%;
}

.right-column span {
  font-weight: 600;
}

.oth-exp li {
  font-weight: 400;
}

.edu,
.work-exp,
.oth-exp {
  margin-bottom: 4vw;
}

.edu h2,
.work-exp h2,
.oth-exp h2 {
  font-size: 2vw;
}

.left-column {
  color: var(--clr-black);
  background: var(--clr-white);
  padding: 4rem 2rem;
  margin-top: 2rem;
}

.left-column-container {
  gap: 5vh;
  display: flex;
  justify-content: center;
}

.languages-container.skills-container {
  z-index: 1;
}

.left-column h2 {
  font-size: 1.5em;
}

.skills-container {
  gap: 1rem;
}

.oth-skills {
  gap: 0;
}

.dots-container {
  gap: 0.3rem;
}

.dot {
  content: "";
  border: 1px solid var(--clr-neon-green);
  width: 2vw;
  height: 2vw;
}

.filled {
  background: var(--clr-neon-green);
}

.language {
  gap: 1rem;
}

h1 {
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 1vw;
  font-family: "Akira Expanded", sans-serif;
}

.cv-container li,
.cv-container p {
  font-weight: 300;
  font-size: 1.2vw;
}

.skill {
  font-family: "Helvetica Light", "Helvetica", Arial, sans-serif;
  font-weight: 100 !important;
  font-size: 2vw !important;
}

.skill-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.skill-container img {
  width: 8vw;
}

.skill-desc {
  font-weight: 600 !important;
}

.social-media-list {
  position: absolute;
  margin-top: -1rem;
  width: 100%;
  border: 1px solid var(--clr-purple);
  border-left: none;
  border-right: none;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0rem;
}
.social-media-list li {
  width: 5%;
}
.social-media-list img {
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .cv-container li,
  .cv-container p {
    font-size: 4vw;
  }

  .edu h2,
  .work-exp h2,
  .oth-exp h2 {
    font-size: 6vw;
  }

  .header-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
  }

  .photo-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo-container img {
    width: 70vw;
  }

  .last-name {
    font-size: 8vw;
    letter-spacing: 2vw;
  }

  .first-name {
    margin-left: -15vw;
  }

  .about-me-desc {
    width: 75vw;
  }

  .left-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-column-container {
    gap: 5vh;
    display: flex;
    justify-content: center;
  }

  .dot {
    width: 5vw;
    height: 5vw;
  }

  .skill-container {
    gap: 1vw;
  }

  .skill-oneline {
    gap: 6vw;
  }

  .skill-container img {
    width: 35vw;
  }

  .skill-container p {
    font-size: 4vw;
  }

  .skill {
    font-size: 7vw !important;
  }

  .contact-section {
    padding: 0.5rem 1rem;
    align-items: center;
  }

  .contact-list {
    align-items: center;
    justify-content: space-between;
  }

  .contact-list li {
    align-items: center;
    z-index: 1;
    justify-content: center;
  }
}
